.message-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  width: 40%;
  font-size: 18px;
}

.color-bot{
  background: #D5C7BC;
  border: 2px solid #AC92A6;
  margin-left: auto;
  position: relative;
  right: 1rem;
}

.color-user{
  border: 2px solid #DEE8D5;
  background-color: #E9FAE3;
  margin-right: auto;
  position: relative;
  left: 1rem;
}
