/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #343434;
  overflow-y: hidden;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 2rem;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}
